<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/button/button.js"></script>
</head>
<body>
    <div th:fragment="bottonslg" class="container">
        <p>

        </p>
        <p>
            <button type="button" class="btn btn-primary btn-lg" onclick="buttonclick()">第一个button</button>
            <button type="button" class="btn btn-success btn-lg">第二个button</button>
            <button type="button" class="btn btn-danger btn-lg">第三个button</button>
            <button type="button" class="btn btn-info btn-lg">第四个button</button>
            <button type="button" class="btn btn-warning btn-lg">第五个button</button>
        </p>
    </div>
    <div th:fragment="bottonsblock">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="buttonclick2()">第一个button</button>
        <button type="button" class="btn btn-success  btn-lg btn-block">第二个button</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">第三个button</button>
        <button type="button" class="btn btn-info btn-lg btn-block">第四个button</button>
        <button type="button" class="btn btn-warning btn-lg btn-block">第五个button</button>
    </div>

</body>
</html>